.Rproj.user
InterBIC_Npools.Rproj
.Rhistory
0_ToDo.R
0_general.qmd
2.1.1_abs_data_QC_files/
raw_data/Missing_samples_redo/
raw_data/Nmin/
raw_data/Nmin_t3/
raw_data/PMN/
raw_data/PNR/
raw_data/TDN/
output/
.positai
